body {
  margin: 0;
  padding: 0;

  font-family: "Inter", serif;
}

.container {
  width: 800px;

  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  background-color: #f4f4f4;
}

header {
  background-color: #6943ff;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}

header h1 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100%;
}

#unitInput {
  margin-bottom: 20px;
  height: 83px;
  width: 113px;
  background: none;
  border: 2px solid #b295ff;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 58px;
  margin-top: 20px;
}

#convert-btn {
  background-color: white;
  border: 1px solid white;
  height: 42px;
  width: 115px;
  color: #3d3d3d;
  border-radius: 5px;
  font-size: 15px;
}

.unit-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  margin: 20px 0;
}

#unit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#unit-list li {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 600px;
  height: 200px;
  margin-top: 20px;
}

#unit-list li h2 {
  color: #5a537b;
}
